namespace PRNN232_Assigment1_FE.Views.AdminAccount
@model PRNN232_Assigment1_FE.Models.AdminAccountViewModel


<h2>Create New Account</h2>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="AccountId"></label>
        <input asp-for="AccountId" class="form-control" />
        <span asp-validation-for="AccountId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AccountName"></label>
        <input asp-for="AccountName" class="form-control" />
        <span asp-validation-for="AccountName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AccountEmail"></label>
        <input asp-for="AccountEmail" class="form-control" />
        <span asp-validation-for="AccountEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AccountPassword"></label>
        <input asp-for="AccountPassword" type="password" class="form-control" />
        <span asp-validation-for="AccountPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AccountRole"></label>
        <select asp-for="AccountRole" class="form-control">
            <option value="">-- Select Role --</option>
            <option value="1">Staff</option>
            <option value="2">Lecturer</option>
        </select>
        <span asp-validation-for="AccountRole" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>


